// Zellij configuration
// Uses Zellij's builtin catppuccin-mocha theme.

theme "catppuccin-mocha";

// UI preferences
simplified_ui true;
pane_frames true;
scrollback_editor "nvim";
mouse_mode true;
session_serialization true;

keybinds {
    shared {
        bind "Super k" { Clear; Write 12; }
        bind "Super Shift l" {
            Run "bash" "-c" "$HOME/.config/zellij/scripts/launcher.sh" {
                close_on_exit true
                floating true
            }
        }
    }
    pane {
        bind "r" { SwitchToMode "RenamePane"; PaneNameInput 0; }
        bind "H" { MovePane "Left"; }
        bind "J" { MovePane "Down"; }
        bind "K" { MovePane "Up"; }
        bind "L" { MovePane "Right"; }
    }
}

ui {
    pane_frames {
        rounded_corners true;
        hide_session_name true;
    }
}
